.bg-green-2 {
  background-color: #1a985a80;
}
.bg-green-1 {
  background-color: #5baa0980;
}
.bg-blue-1 {
  background-color: #3ba8dd80;
}
.bg-blue-2 {
  background-color: #0078d780;
}
.bg-pink {
  background-color: #e41b9080;
}
.bg-yellow {
  background-color: #ffa70080;
}
.bg-brown {
  background-color: #7b715180;
}
.bg-red {
  background-color: #fd3a4a80;
}
.bg-purple {
  background-color: #8b66cc80;
}
.bg-orange {
  background-color: #f5802580;
}
