.detail {
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.detail_logo {
  width: 27%;
  height: 100%;
  margin-right: 16px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.detail_info {
  width: 70%;
}

.detail_logo_number {
  position: absolute;
  top: 10px;
  left: 10px;
}

.detail_logo_atomic {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.detail_logo_name {
  font-size: 54px;
}

.detail_info_properties {
  font-size: 13px;
  display: flex;
  justify-content: space-between;
  margin: 8px 0px;
  @media screen and (min-width: 1800px) {
    font-size: 16px;
  }
}
